.item-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.input-item {
  margin-top: 10px;
}

.item-header {
  margin-top: -17px;
}

p {
  font-size: large;
}

button {
  margin-right: 10px;
}
